@import "./variables";

/* Typography */
.s-text() {
    font-size: @s-text-size;
}

.m-text() {
    font-size: @m-text-size;
}

.l-text() {
    font-size: @l-text-size;
}

.xl-text() {
    font-size: @xl-text-size;
}

.xll-text() {
    font-size: @xll-text-size;
}

/* Helpers */
.centered_text() {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-icon {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
}